<p id="notice"><%= notice %></p>

<h1>Drops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Item level</th>
      <th>Description</th>
      <th>Task item</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drops.each do |drop| %>
      <tr>
        <td><%= drop.name %></td>
        <td><%= drop.item_level %></td>
        <td><%= drop.description %></td>
        <td><%= drop.task_item %></td>
        <td><%= drop.location.name %></td>
        <td><%= link_to 'Show', drop %></td>
        <td><%= link_to 'Edit', edit_drop_path(drop) %></td>
        <td><%= link_to 'Destroy', drop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drop', new_drop_path %>
