<p id="notice"><%= notice %></p>
<%= link_to "Kinds", kinds_path(@kind) %>
<%= link_to "Deeds", deeds_path(@deed) %>
<%= link_to "Drops", drops_path(@drop) %>
<%= link_to "Locations", locations_path(@location) %>
<h1>Npcs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Kind</th>
      <th>Drop</th>
      <th>Location</th>
      <th>Morale</th>
      <th>Power</th>
      <th>Deed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @npcs.each do |npc| %>
      <tr>
        <td><%= npc.name %></td>
        <td><%= npc.level %></td>
        <td><%= npc.kind.name %></td>
        <td><%= npc.drop_id %></td>
        <td><%= npc.location_id %></td>
        <td><%= npc.morale %></td>
        <td><%= npc.power %></td>
        <td><%= npc.deed_id %></td>
        <td><%= link_to 'Show', npc %></td>
        <td><%= link_to 'Edit', edit_npc_path(npc) %></td>
        <td><%= link_to 'Destroy', npc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Npc', new_npc_path %>
