<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @npc.level %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @npc.kind.name %>
</p>

<p>
  <strong>Drop:</strong>
  <%= @npc.drop_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @npc.location.name %>
</p>

<p>
  <strong>Morale:</strong>
  <%= @npc.morale %>
</p>

<p>
  <strong>Power:</strong>
  <%= @npc.power %>
</p>

<p>
  <strong>Deed:</strong>
  <%= @npc.deed.name %>
</p>

<%= link_to 'Edit', edit_npc_path(@npc) %> |
<%= link_to 'Back', npcs_path %>
